# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# my
.vscode/*
test/*
!test/*.c
!test/*.h
!test/*.cpp
!test/*.hpp

compiler/*
VB_C_CPP/*
JB_intellisense/*
VB.C-parse/Lexer.cs
VB.C-parse/Parser.cs
VB.C-parse/Program.cs
VB.C-parse/VB.C-parse.csproj
VB.C-parse/VB.C-parse.sln
VB.C-parse/.idea/.idea.VB.C-parse/.idea/.gitignore
VB.C-parse/.idea/.idea.VB.C-parse/.idea/encodings.xml
VB.C-parse/.idea/.idea.VB.C-parse/.idea/indexLayout.xml
VB.C-parse/.idea/.idea.VB.C-parse/.idea/vcs.xml
VB.C-parse/bin/Debug/net5.0/VB.C-parse.deps.json
VB.C-parse/bin/Debug/net5.0/VB.C-parse.runtimeconfig.dev.json
VB.C-parse/bin/Debug/net5.0/VB.C-parse.runtimeconfig.json
VB.C-parse/obj/project.assets.json
VB.C-parse/obj/project.nuget.cache
VB.C-parse/obj/project.packagespec.json
VB.C-parse/obj/rider.project.restore.info
VB.C-parse/obj/VB.C-parse.csproj.nuget.dgspec.json
VB.C-parse/obj/VB.C-parse.csproj.nuget.g.props
VB.C-parse/obj/VB.C-parse.csproj.nuget.g.targets
VB.C-parse/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
VB.C-parse/obj/Debug/net5.0/VB.C-parse.AssemblyInfo.cs
VB.C-parse/obj/Debug/net5.0/VB.C-parse.AssemblyInfoInputs.cache
VB.C-parse/obj/Debug/net5.0/VB.C-parse.assets.cache
VB.C-parse/obj/Debug/net5.0/VB.C-parse.csproj.AssemblyReference.cache
VB.C-parse/obj/Debug/net5.0/VB.C-parse.csproj.CoreCompileInputs.cache
VB.C-parse/obj/Debug/net5.0/VB.C-parse.csproj.FileListAbsolute.txt
VB.C-parse/obj/Debug/net5.0/VB.C-parse.GeneratedMSBuildEditorConfig.editorconfig
VB.C-parse/obj/Debug/net5.0/VB.C-parse.genruntimeconfig.cache
VB.C-parse/playground/ok.VB.c
